* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: #0A1216;
}

header {
  background: url(backgroundimage.jpg);
  height: 100vh;
  background-position: center;
  background-size: cover;
  box-sizing: border-box;
  position: relative;
  /* ===== Hero Section ===== */
}
header .overlay {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
}
header nav {
  height: 150px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: transparent;
  color: white;
  position: absolute;
  z-index: 2;
  box-sizing: border-box;
  padding: 0 5%;
}
header nav .logo img {
  width: 45%;
  max-width: 200px;
  transition: width 0.3s ease;
}
header nav .list {
  display: flex;
  gap: 30px;
  align-items: center;
  box-sizing: border-box;
}
header nav .list a {
  text-decoration: none;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.9882352941);
  transition: all 0.3s ease-in;
  padding: 8px 14px;
  box-sizing: border-box;
}
header nav .list a:first-child {
  border-bottom: 2px solid #D78241;
}
header nav .list a:hover {
  cursor: pointer;
  border-bottom: 2px solid #D78241;
}
header nav button {
  font-size: 13px;
  color: rgba(255, 255, 255, 0.9882352941);
  background-color: #D78241;
  font-weight: 700;
  padding: 15px 16px;
  border: 1px solid transparent;
  border-radius: 4px;
  transition: all 0.3s ease;
}
header nav button:hover {
  cursor: pointer;
  color: rgba(255, 255, 255, 0.8588235294);
  border: 1px solid white;
  background: transparent;
}
header nav .menu {
  display: none;
  font-size: 28px;
  color: white;
  cursor: pointer;
  transition: transform 0.3s ease;
}
header .heroSection {
  width: 100%;
  position: absolute;
  z-index: 2;
  box-sizing: border-box;
  top: 50%;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 24px;
  transform: translateY(-50%);
}
header .heroSection .uperLine {
  display: flex;
  justify-content: center;
  width: 100%;
  position: absolute;
  z-index: 2;
  top: -13px;
}
header .heroSection .uperLine span {
  width: 87px;
  background-color: #D78241;
  height: 2px;
  transition: width 0.3s ease;
}
header .heroSection #lineOne {
  color: rgba(255, 255, 255, 0.8392156863);
  font-size: 22px;
  transition: font-size 0.3s ease;
}
header .heroSection #lineSecond {
  color: white;
  font-size: 4.2em;
  font-weight: 600;
  transition: font-size 0.3s ease;
}
header .heroSection .btns {
  display: flex;
  align-items: center;
  gap: 22px;
  justify-content: center;
  flex-wrap: wrap;
}
header .heroSection .btns button:first-child {
  color: rgba(255, 255, 255, 0.8588235294);
  border: 1px solid white;
  background: transparent;
  font-size: 14px;
  padding: 15px 15px;
  border-radius: 5px;
  font-weight: 600;
  transition: all 0.3s ease;
}
header .heroSection .btns button:first-child:hover {
  background-color: #D78241;
  border: 1px solid transparent;
  cursor: pointer;
}
header .heroSection .btns button:last-child {
  background: transparent;
  color: rgba(255, 255, 255, 0.8705882353);
  border: none;
  font-weight: 700;
  font-size: 14px;
  padding: 15px 15px;
  border-radius: 5px;
  transition: all 0.3s ease;
}
header .heroSection .btns button:last-child:hover {
  background: #D78241;
  cursor: pointer;
}

main {
  width: 100%;
  height: 100%;
  color: white;
}
main .infoBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-top: 73px;
}
main .infoBox .box {
  box-sizing: border-box;
  height: 54vh;
}
main .infoBox .idBox {
  width: 100%;
  display: flex;
  padding: 0 44px;
  justify-content: space-around;
  align-items: center;
}
main .infoBox .idBox .idLeft {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
main .infoBox .idBox .idLeft .idHeading {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.7);
  font-weight: 600;
  display: flex;
  flex-direction: column;
  gap: 7px;
}
main .infoBox .idBox .idLeft .idHeading .underline {
  background-color: #D78241;
  width: 47px;
  height: 2px;
  transition: width 0.3s ease;
}
main .infoBox .idBox .idLeft .idTitle {
  font-size: 2.2em;
  color: white;
  transition: font-size 0.3s ease;
}
main .infoBox .idBox .idLeft .idPara {
  font-size: 17px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.8705882353);
  transition: font-size 0.3s ease;
}
main .infoBox .idBox .idLeft .btns .butons {
  font-size: 13px;
  color: rgba(255, 255, 255, 0.8705882353);
  background-color: #D78241;
  border: 1px solid transparent;
  padding: 14px 12px;
  font-weight: 600;
  border-radius: 5px;
  transition: all 0.3s ease;
}
main .infoBox .idBox .idLeft .btns .butons:hover {
  cursor: pointer;
  color: rgba(255, 255, 255, 0.8588235294);
  border: 1px solid white;
  background: transparent;
}
main .infoBox .idBox .idRight {
  height: 100%;
}
main .infoBox .idBox .idRight .idImg {
  height: 100%;
  border-radius: 6px;
  transition: height 0.3s ease;
}
main .featuresBox {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: 10px;
}
main .featuresBox .idBox {
  width: 100%;
  height: 45vh;
  box-sizing: border-box;
}
main .featuresBox .upper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 18px;
  align-items: center;
  justify-content: center;
}
main .featuresBox .upper .heading {
  font-size: 17px;
  font-weight: 600;
  padding-bottom: 13px;
  color: rgba(255, 255, 255, 0.6588235294);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}
main .featuresBox .upper .heading span {
  width: 66px;
  height: 2px;
  background-color: #D78241;
}
main .featuresBox .upper .title {
  font-size: 2.6em;
  font-weight: 600;
}
main .featuresBox .upper .para {
  width: 52%;
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  line-height: 22px;
  color: rgba(255, 255, 255, 0.7098039216);
}
main .featuresBox .bottom {
  width: 100%;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-evenly;
}
main .featuresBox .bottom .flexBox {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 19px;
  align-items: center;
}
main .featuresBox .bottom .flexBox .titleLogo {
  padding-bottom: 17px;
}
main .featuresBox .bottom .flexBox .titleLogo img {
  width: 100px;
  filter: invert(1);
}
main .featuresBox .bottom .flexBox .title {
  font-size: 17px;
  font-weight: 600;
}
main .featuresBox .bottom .flexBox .para {
  text-align: center;
  font-size: 16px;
  line-height: 22px;
  color: rgba(255, 255, 255, 0.7098039216);
  font-weight: 600;
}
main .workingTime {
  width: 100%;
  box-sizing: border-box;
  position: relative;
}
main .workingTime .overlay {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
}
main .workingTime img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  height: 100%;
}
main .workingTime .Box {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 7%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: 2;
}
main .workingTime .Box .idBox {
  width: 45%;
  height: 100%;
}
main .workingTime .Box .idBox .leftBox {
  display: flex;
  align-items: center;
}
main .workingTime .Box .idBox .leftInBox {
  text-align: justify;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-left: 90px;
}
main .workingTime .Box .leftBox {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: center;
}
main .workingTime .Box .leftBox .heading {
  font-size: 16px;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.65);
  display: flex;
  flex-direction: column;
  gap: 8px;
}
main .workingTime .Box .leftBox .heading span {
  width: 83px;
  height: 2.5px;
  background-color: #D78241;
}
main .workingTime .Box .leftBox .title {
  font-size: 4.1em;
  color: rgba(255, 255, 255, 0.9019607843);
}
main .workingTime .Box .leftBox .btns {
  display: flex;
  align-items: center;
  gap: 24px;
}
main .workingTime .Box .leftBox .btns button:first-child {
  font-size: 14px;
  font-weight: 600;
  color: rgb(255, 255, 255);
  background-color: #D78241;
  border: 1px solid transparent;
  padding: 18px 18px;
  border-radius: 5px;
}
main .workingTime .Box .leftBox .btns button:first-child:hover {
  cursor: pointer;
  color: rgba(255, 255, 255, 0.8588235294);
  border: 1px solid white;
  background: transparent;
  transition: all 0.3s ease;
}
main .workingTime .Box .leftBox .btns button:last-child {
  font-size: 14px;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.9019607843);
  background: transparent;
  border: none;
}
main .workingTime .Box .leftBox .btns button:last-child:hover {
  border: 1px solid white;
  padding: 16px 18px;
  border-radius: 5px;
  transition: all 0.3s ease;
  cursor: pointer;
}
main .workingTime .Box .rightBox {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .workingTime .Box .rightBox .timeBox {
  height: 428px;
  width: 420px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: space-evenly;
  background-color: #0A1216;
  color: rgba(255, 255, 255, 0.857);
}
main .workingTime .Box .rightBox .timeBox .idTime {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
main .workingTime .Box .rightBox .timeBox .idTime span:first-child {
  font-size: 24px;
  font-weight: 600;
}
main .workingTime .Box .rightBox .timeBox .idTime span:last-child {
  font-size: 18px;
  font-weight: 600;
}
main .feedBack {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: 10px;
  align-items: center;
}
main .feedBack .idBox {
  width: 100%;
  height: 50vh;
  box-sizing: border-box;
}
main .feedBack .upper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 18px;
  align-items: center;
  justify-content: center;
}
main .feedBack .upper .heading {
  font-size: 17px;
  font-weight: 600;
  padding-bottom: 13px;
  color: rgba(255, 255, 255, 0.6588235294);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}
main .feedBack .upper .heading span {
  width: 66px;
  height: 2px;
  background-color: #D78241;
}
main .feedBack .upper .title {
  font-size: 2.6em;
  font-weight: 600;
}
main .feedBack .upper .para {
  width: 52%;
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  line-height: 22px;
  color: rgba(255, 255, 255, 0.7098039216);
}
main .feedBack .bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}
main .feedBack .bottom .flexBox {
  width: 30%;
  height: 100%;
  background-color: #10191A;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  gap: 22px;
  align-items: center;
  padding-bottom: 16px;
}
main .feedBack .bottom .flexBox .quostion {
  font-size: 44px;
  position: relative;
  bottom: 13%;
  background-color: #111819;
  color: #FCBB2E;
  border-radius: 50%;
  padding: 7px 10px;
  left: 50px;
  box-shadow: 0px 4px 0px 1px #0d1010;
}
main .feedBack .bottom .flexBox .text {
  width: 93%;
  font-size: 17px;
  line-height: 25px;
  text-align: center;
  color: #6B7174;
}
main .feedBack .bottom .flexBox .rating {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
main .feedBack .bottom .flexBox .rating .starimg {
  padding-bottom: 7px;
  color: #FCBB2E;
}
main .feedBack .bottom .flexBox .rating .name {
  font-size: 16px;
  font-weight: 600;
}
main .feedBack .bottom .flexBox .rating .proffesion {
  font-size: 15px;
  color: #6B7174;
}
main .feedBack .scrollDot {
  padding: 20px 0;
  font-weight: bold;
  font-size: 18px;
}
main .sellingNumbers {
  width: 100%;
  height: 45vh;
  display: flex;
  gap: 10px;
  box-sizing: border-box;
  justify-content: space-around;
  align-items: center;
}
main .sellingNumbers .box {
  width: 20%;
  height: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
  color: #ECEFEF;
}
main .sellingNumbers .box .headNum {
  display: flex;
  align-items: center;
}
main .sellingNumbers .box .headNum .plus {
  color: #cb880c;
}
main .sellingNumbers .box span {
  font-size: 14px;
  font-weight: 600;
}
main .installBox {
  width: 100%;
  height: 60vh;
  box-sizing: border-box;
  background: url(vegtables.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main .installBox .box {
  width: 45%;
  height: 100%;
}
main .installBox .leftSide {
  display: flex;
  justify-content: center;
}
main .installBox .leftSide .center {
  display: flex;
  flex-direction: column;
  gap: 35px;
  justify-content: center;
}
main .installBox .leftSide .center h1 {
  font-weight: 600;
  width: 318px;
  font-size: 40px;
  line-height: 57px;
}
main .installBox .leftSide .center .btns {
  display: flex;
  gap: 16px;
  align-items: center;
}
main .installBox .leftSide .center .btns button {
  background: white;
  border: none;
  font-weight: 600;
  font-size: 22px;
  padding: 17px 12px;
  border-radius: 8px;
}
main .installBox .leftSide .center .btns button #icon {
  font-size: 35px;
}
main .installBox .rightSide {
  display: flex;
  align-items: center;
  justify-content: center;
}
main .installBox .rightSide img {
  height: 512px;
}
main footer {
  width: 100%;
  height: 50vh;
  box-sizing: border-box;
  margin-top: 7%;
  display: flex;
  align-items: center;
  background-color: #121B1C;
  gap: 60px;
}
main footer .foot {
  height: 100%;
  box-sizing: border-box;
}
main footer .leftFoot {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  padding-left: 9%;
}
main footer .leftFoot .logo img {
  width: 27%;
}
main footer .leftFoot .text {
  font-size: 14px;
  line-height: 22px;
  position: relative;
  bottom: 4%;
  opacity: 0.5;
}
main footer .leftFoot .app {
  display: flex;
  align-items: center;
  gap: 10px;
}
main footer .leftFoot .app i {
  background-color: #FEFDFD;
  color: #CA8243;
  font-size: 21px;
  padding: 7px 8px;
  border-radius: 50%;
}
main footer .rightFoot {
  width: 70%;
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
}
main footer .rightFoot #uniBox {
  position: relative;
  right: 65px;
}
main footer .rightFoot #uniBox button {
  width: 102px;
  font-size: 16px;
  color: white;
  background: #D78241;
  border: 1px solid transparent;
  font-weight: 600;
  padding: 13px 20px;
  border-radius: 4px;
}
main footer .rightFoot #uniBox button:hover {
  cursor: pointer;
  color: rgba(255, 255, 255, 0.8588235294);
  border: 1px solid white;
  background: transparent;
  transition: all 0.3s ease;
}
main footer .rightFoot .box {
  width: 32%;
  height: 78%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 18px;
}
main footer .rightFoot .box .heading {
  font-weight: 600;
  font-size: 17px;
  opacity: 0.9;
}
main footer .rightFoot .box .info {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
main footer .rightFoot .box .info span {
  font-size: 16px;
  opacity: 0.5;
}
main footer .rightFoot .box .info #unique {
  line-height: 23px;
}

/* Medium / Tablet Screens */
@media (max-width: 1000px) {
  nav {
    height: 120px;
    padding: 0 4%;
  }
  nav .logo img {
    width: 40%;
  }
  nav .list a {
    font-size: 15px;
    padding: 6px 10px;
  }
  nav button {
    padding: 12px 14px;
    font-size: 12px;
  }
  .heroSection {
    gap: 18px;
  }
  .heroSection .uperLine span {
    width: 70px;
  }
  .heroSection #lineOne {
    font-size: 20px;
  }
  .heroSection #lineSecond {
    font-size: 3.5em;
  }
  .heroSection .btns button {
    font-size: 13px;
    padding: 12px 12px;
  }
  .heroSection .btns {
    gap: 16px;
  }
  .infoBox {
    gap: 2px;
  }
  .infoBox .idBox {
    padding: 0 30px;
    gap: 25px;
  }
  .infoBox .idBox .idLeft .idTitle {
    font-size: 2em;
  }
  .infoBox .idBox .idLeft .idPara {
    font-size: 16px;
  }
  .infoBox .idBox .idLeft .btns .butons {
    font-size: 12px;
    padding: 12px 10px;
  }
  .infoBox .idBox .idLeft .idHeading .underline {
    width: 40px;
  }
  .infoBox .idBox .idRight .idImg {
    height: 100%;
  }
}
/* Mobile Screens */
@media (max-width: 700px) {
  nav {
    height: 90px;
    padding: 0 25px;
  }
  nav .logo img {
    width: 35%;
  }
  nav .list,
  nav button {
    display: none;
  }
  nav .menu {
    display: block;
  }
  .heroSection {
    gap: 12px;
  }
  .heroSection .uperLine span {
    width: 50px;
  }
  .heroSection #lineOne {
    font-size: 16px;
  }
  .heroSection #lineSecond {
    font-size: 2.5em;
  }
  .heroSection .btns {
    flex-direction: column;
    gap: 12px;
  }
  .heroSection .btns button {
    font-size: 12px;
    padding: 10px 12px;
    width: 150px;
  }
  .infoBox {
    gap: 20px;
  }
  .infoBox .idBox {
    flex-direction: column;
    padding: 0 20px;
  }
  .infoBox .idBox .idLeft,
  .infoBox .idBox .idRight {
    width: 100%;
  }
  .infoBox .idBox .idLeft {
    gap: 15px;
  }
  .infoBox .idBox .idLeft .idTitle {
    font-size: 1.8em;
  }
  .infoBox .idBox .idLeft .idPara {
    font-size: 14px;
    line-height: 20px;
  }
  .infoBox .idBox .idLeft .btns {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .infoBox .idBox .idLeft .btns .butons {
    width: 150px;
    font-size: 12px;
    padding: 10px 12px;
  }
  .infoBox .idBox .idLeft .idHeading .underline {
    width: 35px;
  }
  .infoBox .idBox .idRight .idImg {
    height: auto;
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */