* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: #0A1216;
}

header {
    background: url(backgroundimage.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
    box-sizing: border-box;
    position: relative;

    nav {
        height: 150px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        background: transparent;
        color: white;
        position: absolute;
        z-index: 2;

        .logo img {
            width: 45%;
        }

        .list {
            display: flex;
            gap: 42px;
            align-items: center;

            a {
                text-decoration: none;
                font-size: 16px;
                color: #fffffffc;
            }

            a:first-child {
                border-bottom: 2px solid #cb880c;
                padding: 8px 14px;
            }
        }

        button {
            font-size: 13px;
            color: rgba(255, 255, 255, 0.9882352941);
            background-color: #cb880c;
            font-weight: 700;
            padding: 15px 16px;
            border: none;
            border-radius: 4px;
        }
    }

    .overlay {
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
    }

    .heroSection {
        width: 100%;
        position: absolute;
        z-index: 2;
        box-sizing: border-box;
        top: 50%;
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 24px;

        .uperLine {
            display: flex;
            justify-content: center;
            width: 100%;
            position: absolute;
            z-index: 2;
            top: -13px;



            span {
                width: 87px;
                background-color: #cb880c;
                height: 2px;
            }
        }

        #lineOne {
            color: #ffffffd6;
            font-size: 22px;
        }

        #lineSecond {
            color: white;
            font-size: 4.2em;
            font-weight: 600;
        }

        .btns {
            display: flex;
            align-items: center;
            gap: 22px;
            justify-content: center;

            button:first-child {
                color: #ffffffdb;
                border: 1px solid white;
                background: transparent;
                font-size: 14px;
                padding: 15px 15px;
                border-radius: 5px;
                font-weight: 600;
            }

            button:last-child {
                background: transparent;
                color: #ffffffde;
                border: none;
                font-weight: 700;
            }
        }
    }
}

main {
    width: 100%;
    height: 100%;
    color: white;

    .infoBox {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 14px;
        margin-top: 73px;


        .box {
            box-sizing: border-box;
            height: 54vh;
        }

        .idBox {
            width: 100%;
            display: flex;
            padding: 0 44px;
            justify-content: space-around;
            align-items: center;

            .idLeft {
                width: 40%;
                display: flex;
                flex-direction: column;
                gap: 20px;

                .idHeading {
                    font-size: 14px;
                    color: rgb(255 255 255 / 70%);
                    font-weight: 600;
                    display: flex;
                    flex-direction: column;
                    gap: 7px;

                    .underline {
                        background-color: #cb880c;
                        width: 47px;
                        height: 2px;
                    }

                }

                .idTitle {
                    font-size: 2.2em;
                    color: white;
                }

                .idPara {
                    font-size: 17px;
                    line-height: 24px;
                    color: #ffffffde;
                }

                .btns .butons {
                    font-size: 13px;
                    color: #ffffffde;
                    background-color: #cb880c;
                    border: none;
                    padding: 14px 12px;
                    font-weight: 600;
                    border-radius: 5px;
                }
            }

            .idRight {
                height: 100%;

                .idImg {
                    height: 100%;
                    border-radius: 6px;
                }
            }

        }
    }

    .featuresBox {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        gap: 10px;

        .idBox {
            width: 100%;
            height: 45vh;
            box-sizing: border-box;
        }

        .upper {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 18px;
            align-items: center;
            justify-content: center;

            .heading {
                font-size: 17px;
                font-weight: 600;
                padding-bottom: 13px;
                color: #ffffffa8;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 4px;

                span {
                    width: 66px;
                    height: 2px;
                    background-color: #cb880c;
                }
            }

            .title {
                font-size: 2.6em;
                font-weight: 600;

            }

            .para {
                width: 52%;
                text-align: center;
                font-size: 15px;
                font-weight: 600;
                line-height: 22px;
                color: #ffffffb5;
            }

        }

        .bottom {
            width: 100%;
            display: flex;
            gap: 20px;
            align-items: center;
            justify-content: space-evenly;

            .flexBox {
                width: 30%;
                height: 100%;
                display: flex;
                flex-direction: column;
                gap: 19px;
                align-items: center;

                .titleLogo {
                    padding-bottom: 17px;

                    img {
                        width: 100px;
                        filter: invert(1);
                    }
                }

                .title {
                    font-size: 17px;
                    font-weight: 600;
                }

                .para {
                    text-align: center;
                    font-size: 16px;
                    line-height: 22px;
                    color: #ffffffb5;
                    font-weight: 600;
                }

            }
        }

    }

    .workingTime {
        width: 100%;
        box-sizing: border-box;
        position: relative;

        .overlay {
            height: 100%;
            width: 100%;
            background-color: rgba(0, 0, 0, 0.7);
            position: absolute;
            z-index: 2;
            top: 0;
            left: 0;
        }

        img {
            object-fit: contain;
            width: 100%;
            height: 100%;
        }

        .Box {
            width: 100%;
            height: 100vh;
            position: absolute;
            top: 7%;
            box-sizing: border-box;
            display: flex;
            align-items: center;
            justify-content: space-around;
            z-index: 2;

            .idBox {
                width: 45%;
                height: 100%;

                .leftBox {
                    display: flex;
                    align-items: center;
                }

                .leftInBox {
                    text-align: justify;
                    display: flex;
                    flex-direction: column;
                    gap: 30px;
                    margin-left: 90px;
                }
            }

            .leftBox {
                height: 100%;
                display: flex;
                flex-direction: column;
                gap: 30px;
                align-items: center;
                justify-content: center;

                .heading {
                    font-size: 16px;
                    font-weight: 600;
                    color: rgb(255 255 255 / 65%);
                    display: flex;
                    flex-direction: column;
                    gap: 8px;

                    span {
                        width: 83px;
                        height: 2.5px;
                        background-color: #cb880c;
                    }
                }

                .title {
                    font-size: 4.1em;
                    color: #ffffffe6;
                }

                .btns {
                    display: flex;
                    align-items: center;
                    gap: 24px;

                    button:first-child {
                        font-size: 14px;
                        font-weight: 600;
                        color: rgb(255 255 255);
                        background-color: #cb880c;
                        border: none;
                        padding: 18px 18px;
                        border-radius: 5px;
                    }

                    button:last-child {
                        font-size: 14px;
                        font-weight: 600;
                        color: #ffffffe6;
                        background: transparent;
                        border: none;
                    }
                }
            }

            .rightBox {
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;

                .timeBox {
                    height: 428px;
                    width: 420px;
                    display: flex;
                    flex-direction: column;
                    gap: 30px;
                    align-items: center;
                    justify-content: space-evenly;
                    background-color: #0A1216;
                    color: rgba(255, 255, 255, 0.857);

                    .idTime {
                        display: flex;
                        flex-direction: column;
                        gap: 20px;
                        align-items: center;

                        span:first-child {
                            font-size: 24px;
                            font-weight: 600;

                        }

                        span:last-child {
                            font-size: 18px;
                            font-weight: 600;
                        }
                    }
                }
            }
        }
    }
}